$filter-button-color: #F1F4F8;

.calendar {
  @include df-sb;
  background-color: $white;
  padding: $filter-padding-y $filter-padding-x;
  border-radius: $buttons-border-radius;
  color: $main-color;
  font-size: clamp(.64rem, 2vw, .8rem);
  margin: 0 0 1.9rem 0;
  white-space: nowrap;
  gap: 1rem;
  // overflow-x: hidden;

  button.prev,
  button.next {
    @include filter-button;
    min-width: 2rem
  }

  button:not(.prev, .next) {
    @include filter-button;
    padding: $buttons-padding;
    background: $filter-button-color;
    border-radius: $buttons-border-radius;
  }

  .date,
  .filter-buttons {
    @include df-center;
    gap: .66rem;
    flex: 0;
  }

  #day {
    @include df-center;
    margin-right: clamp(1rem, 3vw, 1.5rem);
    border-radius: $buttons-border-radius;
    background-color: $filter-button-color;
  }

  #number {
    padding: $buttons-padding;
    border-left: 1px solid rgba(#788398, .24);
    border-right: 1px solid rgba(#788398, .24);
  }
}