$filter-button-color: #F1F4F8;

.filter {
  @include df-sb;
  background-color: $white;
  padding: $filter-padding-y $filter-padding-x;
  border-radius: $buttons-border-radius;
  color: $main-color;
  font-size: clamp(.64rem, 2vw, .8rem);
  margin: 0 0 1.9rem 0;
  white-space: nowrap;
  gap: 1rem;

  .date,
  .filter-buttons {
    @include df-center;
    gap: .66rem;
  }

  #day {
    min-width: 10rem;
    // @include df-center;
    // margin-right: clamp(1rem, 3vw, 1.5rem);
    border-radius: $buttons-border-radius;
    background-color: $filter-button-color;
    padding: $buttons-padding;
    position: relative;
  }

  .date-switch {
    height: inherit;
    width: inherit;
    @include base-button;


    &:after {
      position: absolute;
      content: "";
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 10px solid $aside-items-color;
      right: .7rem;
      top: 50%;
      transform: translateY(-50%) rotate(-180deg);
    }
  }

  input#number {
    border: none;
    background: transparent;

    text-align: center;

    border-left: 1px solid rgba(#788398, .24);
    border-right: 1px solid rgba(#788398, .24);

  }

  button.prev {
    &::after {
      left: 0;
      right: auto;
      transform: translate(50%, -50%) rotate(-90deg);
    }
  }

  button.next {
    &::after {
      right: 0;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  button:not(.prev, .next) {
    @include filter-button;
    padding: $buttons-padding;
    background: $filter-button-color;
    border-radius: $buttons-border-radius;
  }

}