@font-face {
  font-family: 'SFUIText-Light';
  font-weight: 400;
  font-style: normal;
  src: local('Poppins-SemiBold'),
    url('../fonts/sfuitext_light.woff2') format('woff2');
  font-display: swap;
}