@use 'vars' as vars;

body {
  scrollbar-width: none;
  scrollbar-color: #000AFF transparent;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #000AFF;
  border-radius: .5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}


.container {
  max-width: 1728px;
  padding: 1rem;
  margin: 0 auto;
}


.main {
  overflow: hidden;
  max-width: vars.$max-width-main-block;

  &__inner {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
  }
}