@media (max-width: 1200px) {
  .rev {
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  body {
    grid-template-columns: 1fr;
  }

  .calendar {
    margin-bottom: 1.22rem;
    overflow: hidden;
  }

  .rev {
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .sidebar {
    display: none;
  }
}